/* Font google */

font-family: 'Roboto', sans-serif;
font-family: 'Source Sans Pro', sans-serif;

body, ul, li {
  padding: 0;
  margin: 0;
  text-align: center;
}

body {
  background-color: powderblue;
}
/* NAVIGATION */

#top-nav .main-items {
  display: flex;
  justify-content: space-between;
  margin: 0;
  flex-grow: 0.8;
  flex-direction: row;
  align-items:center;
}

#top-nav {
  background-color: powderblue;
  height: 100px;
  display: flex;
  align-items: center;
}

#top-nav li {
  list-style-type: none;
  font-size: 25px;
}

#top-nav li a {
  text-decoration: none;
  font-family: 'Dosis', sans-serif;
  color: rgb(17, 45, 46);
  padding: 15px 30px;
}

#top-nav li a:hover {
  color: #FFF;
  background-color: rgb(145, 172, 190);
}


/* Header/Blog Title */
.header {
  padding: 30px;
  text-align: center;
  background: white;
}

.header h1 {
  font-size: 70px;
}
.align-center {
  border: 1px solid grey;
  padding: 3px;
  border-radius: 20px;
  box-shadow: 0px 0px 5px grey;
  width: 30%;
  display: block;
  margin: 0 auto;

}

.align-different {
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  display: block;
  border-radius: 20px;
  box-shadow: 0px 0px 5px grey;
  

}
.align-center-email {
display: block;
margin-left: 670px;


}
h1, h2 {
  text-align: center;
}

footer {
  display: inline;
  justify-content: center;
  padding: 5px;
  background-color: #89b2be;
  color: #fff;
}

p, dl {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  text-align: center;
}

cite {

  margin-left: 20%;
}

#contactme {
width: 155px;
position: absolute;
left: 350px;
top: 450px;
}

#contactlesley {
  margin-right: 800px;
}

#help-finger {
  width: 155px;
  position: absolute;
  right: 350px;
  top: 460px;
  }


.center {
  text-align: center;
  list-style-position: inside;
}
  ol.center li {
    text-align: left;
    margin-left: 45%;

  }

  /**
 * Footer Styles
 */

 .footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: powderblue
  color: rgb(71, 70, 70);
  text-align: center;
}

dt {
  font-weight: bold;
}

.cart ion-icon {
  vertical-align: bottom;
  font-size: 20px;
  padding-right: 5px;
}

.cart a {
   background-color: royalblue;
   color: #fff;
   cursor: pointer;
   text-decoration: none;
}

.container,
.container-products {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    padding-bottom: 100px;;
}

.image {
  margin-right: 20px;
  margin-left: 20px;
  position: relative;
  overflow: hidden;
}

.add-cart {
  position: absolute;
  width: 100%;
  background-color: rgb(38, 80, 114);
  transition: all 0.3s ease-in-out;
  opacity: 0;
  cursor: pointer;
  text-align: center;
}

.image:hover .cart1,
.image:hover .cart2,
.image:hover .cart3,
.image:hover .cart4 {
    bottom: 50px;
    opacity: 1;
    padding: 10px;
    text-decoration: none;
}


.overlay {
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  right: 0;
  bottom: 0;
  padding: 0 !important;
  margin: 0 !important;
}

/* ----------------- CART PAGE --------------- */

.container-products {
  max-width: 650px;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 50px;
}

.container-products ion-icon {
  font-size: 25px;
  color: blue;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.product-header {
  width: 100%;
  max-width: 650px;
  display: flex;
  justify-content: flex-start;
  border-bottom: 4px solid lightgray;
  margin: 0 auto;
}

.product-title {
  width: 45%;
}

.price {
  width: 15%;
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: center;
}

.quantity {
  width: 30%;
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: center;
}

.total {
  width: 10%;
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: center;
}

.product {
  width: 45%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid lightgray;
}

.product ion-icon {
  cursor: pointer;
  
}

.products {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.products img {
  width: 75px;
}

.basketTotalContainer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 10px 0;
}

.basketTotalTitle {
  width: 30%;
}

.basketTotal {
  width: 10%;
}

@media(max-width: 500px) {
  nav h2 {
      width: 100%;
      text-align: center;
      margin-bottom: 10px;;
  }

  .sm-hide {
      display: none;;
  }

  .products,
  .product-header {
      justify-content: center;
  }

  .basketTotalContainer {
      padding-right: 8%;
  }
}



